@tailwind base;
@tailwind components;
@tailwind utilities;



/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.shadow {
    @apply filter;
    box-shadow: 0px 0px 8px 0px rgba(192, 201, 216, 0.50);}

.login-bg{
    @apply bg-cover;
    background: radial-gradient(172.33% 141.42% at 0% 0%, #FFF 0%, #E6F0F7 17.9%, #D4E9F7 51.4%, #F0F9FF 88.4%);

}

.getstarted-bg{
    @apply bg-cover;
    background: radial-gradient(380.43% 141.42% at 0% 0%, #597D9B 0%, #315380 36.86%, #152437 100%);

}

.login-panel-bg{
    @apply bg-cover;
    background: linear-gradient(180deg, rgba(195, 228, 245, 0.75) 0%, rgba(223, 241, 250, 0.75) 27.9%, rgba(255, 255, 255, 0.75) 100%);

}

.login-panel-shadow{
    @apply filter;
    box-shadow: 0px 0px 16px 0px rgba(98, 161, 193, 0.25);
}

.sidebar-bg{
    @apply bg-cover;
    background: radial-gradient(172.33% 141.42% at 0% 0%, #FFF 0%, #E6F0F7 17.9%, #D4E9F7 51.4%, #F0F9FF 88.4%);
}

.light-mode-bg{
    background: var(--bg-color);
}

.sidebar-p{
    @apply filter;
    padding: 0.625rem 0.3125rem;

}

.button-layout{
    @apply filter;
    display: flex;
    width: 2.8125rem;
    height: 2.8125rem;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1rem;
}

.button-style{
    @apply filter;
    border-radius: 1rem;
    border: 1px solid #D5E5EE;
    background: #F7FCFF;
    box-shadow: 0px 4px 8px 0px rgba(203, 220, 228, 0.25);
}

.close-button-layout{
    @apply filter;
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.close-button-style{
    @apply filter;
    border-radius: 0.5rem;
    border: 1px solid #f35757;
    background: #b00f0f;
    box-shadow: 0px 4px 8px 0px rgba(224, 31, 31, 0.25);
}

.extended-sidebar-buttons-layout{
    display: flex;
    width: 3.59375rem;
    height: 3.59375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1rem;
}

.icon-color{
    fill: var(--icon-color);
}
.special-icon-color{
    fill: var(--special-icon-color);
}

.light {
    /* Light mode - RGB */
    --bg-color: 240 249 255;
    --accent: 21 36 55;
    --widgets-bg: 247 252 255;
    --special-widgets-bg: 21 36 55;
    --icon-color: 21 36 55;
    --special-icon-color: 213 229 238;
    --border-color: 255 255 255;
    --shadow: 0px 0px 8px 0px rgba(192, 201, 216, 0.50);
}

.dark {
    /* Dark mode - RGB */
    --bg-color: 21 36 55;
    --accent: 212 233 247;
    --lighter-accent: 212 233 247 / 0.25;
    --special-accent: 21 36 55;
    --widgets-bg: 21 36 55;
    --special-widgets-bg: 247 252 255;
    --icon-color: 213 229 238;
    --special-icon-color: 21 36 55;
    --border-color: 38 65 101;
    --shadow: 0px 4px 10px 0px 31 53 81;
    --hover-shadow: 0px 4px 10px 0px 49 79 117 / 0.75;
    --tab-bg: 21 36 55;
    --tab-active: 212 233 246;
    --tab-inactive: 21 36 55;
    --extended-sidebar-bg: radial-gradient(172.33% 141.42% at 0% 0%, #5275A3 0%, #263C5A 17.9%, #152437 51.4%, #263C5A 88.4%);
}


/* Slide animation for the extended sidebar */
.sidebar-extended {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.sidebar-collapsed {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}